LogSim/build/
LogSim/dist/
LogSim/nbproject/private/
LogSimSkeleton/build/
LogSimSkeleton/documents/
LogSimSkeleton/dist/
LogSimSkeleton/nbproject/private/
LogSimProto/build/
LogSimProto/dist/
LogSimProto/nbproject/private/
LogSimGui/build/
LogSimGui/dist/
LogSimGui/nbproject/private/
doc/*.log
doc/*.ps
doc/*.toc
doc/*.aux
doc/*.dvi
doc/*.lof
doc/*.out
doc/chapters/chapter03/javadoc/*.aux
doc/chapters/chapter03/javadoc/*.class

/LogSimProto/test2.txt
/LogSimProto/test_t.txt
/doc/chapters/chapter11/diagrams/showcomponent.vpp~4
/doc/chapters/chapter11/diagrams/showcomponent.vpp~5
/doc/chapters/chapter11/diagrams/toggleclick.vpp~1