LogSim/build/
LogSim/dist/
LogSim/nbproject/private/
doc/*.log
doc/*.ps
doc/*.toc
doc/*.aux
doc/*.dvi
doc/*.lof
doc/*.out
doc/chapters/chapter03/javadoc/*.aux
doc/chapters/chapter03/javadoc/*.class

